.show-more-text {
    font: 400 1.2rem Kalam, sans-serif;
    text-align: justify;
    white-space: pre-wrap;
}

.show-more-less-clickable {
    font: 300 1.1rem Kalam, sans-serif;
    color: #6180fb;
    cursor: pointer;
    word-spacing: 0;
}