.research-experience-supervisors {
    margin-block-start: 0;
    margin-block-end: 0;
    text-indent: 0;
}

.research-experience-supervisor {
    margin-left: 15px;
    margin-top: 5px;
}

.research-experience-supervisor::marker {
    color: #6180fb;
}

.research-experience-link {
    text-decoration: underline;
    color: #6180fb;
}

.research-experience-link:hover {
    color: yellow;
}

.research-experience-link:visited {
    color: darkgoldenrod;
}