#experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Kalam, sans-serif;
}

.experience-header {
    margin-bottom: 0;
}

.experience-filter {
    margin-bottom: 40px !important;
}